-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cinepass
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bang_luong`
--

DROP TABLE IF EXISTS `bang_luong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bang_luong` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nv` int(11) NOT NULL COMMENT 'ID nhân viên',
  `id_rap` int(11) NOT NULL COMMENT 'ID rạp',
  `thang` varchar(7) NOT NULL COMMENT 'Tháng tính lương (YYYY-MM)',
  `so_gio` decimal(10,2) NOT NULL DEFAULT 0.00 COMMENT 'Tổng số giờ làm việc',
  `luong_theo_gio` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Lương = số giờ × đơn giá',
  `phu_cap` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Tổng phụ cấp (cố định + khác)',
  `khau_tru` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Tổng khấu trừ (đi muộn, về sớm...)',
  `thuong` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Thưởng (nếu có)',
  `tong_luong` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Tổng thực lãnh = lương + phụ cấp + thưởng - khấu trừ',
  `trang_thai` enum('nhap','cho_duyet','da_duyet','da_thanh_toan') DEFAULT 'nhap' COMMENT 'Trạng thái bảng lương',
  `trang_thai_thanh_toan` enum('chua_thanh_toan','da_thanh_toan') DEFAULT 'chua_thanh_toan',
  `ngay_thanh_toan` datetime DEFAULT NULL,
  `id_nguoi_thanh_toan` int(11) DEFAULT NULL,
  `ghi_chu_thanh_toan` text DEFAULT NULL,
  `ghi_chu` text DEFAULT NULL COMMENT 'Ghi chú',
  `nguoi_duyet` int(11) DEFAULT NULL COMMENT 'ID người duyệt',
  `ngay_duyet` datetime DEFAULT NULL COMMENT 'Ngày duyệt',
  `ngay_tao` datetime NOT NULL DEFAULT current_timestamp(),
  `ngay_cap_nhat` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  `id_loai_luong` int(11) DEFAULT NULL,
  `bhxh` decimal(12,2) DEFAULT 0.00 COMMENT 'B?o hi?m x? h?i',
  `thue_thu_nhap` decimal(12,2) DEFAULT 0.00 COMMENT 'Thu? thu nh?p c? nh?n',
  `tong_khau_tru` decimal(12,2) DEFAULT 0.00 COMMENT 'T?ng kh?u tr? (kh?u tr? t? l??ng + BHXH + thu?)',
  `trang_thai_khoa` enum('mo','khoa') DEFAULT 'mo' COMMENT 'Kh?a b?ng l??ng sau thanh to?n',
  `ly_do_thay_doi` text DEFAULT NULL COMMENT 'Ghi ch? khi thay ??i l??ng',
  PRIMARY KEY (`id`),
  KEY `idx_nv_thang` (`id_nv`,`thang`),
  KEY `idx_rap_thang` (`id_rap`,`thang`),
  KEY `idx_trang_thai` (`trang_thai`),
  KEY `idx_trang_thai_thanh_toan` (`trang_thai_thanh_toan`),
  KEY `idx_ngay_thanh_toan` (`ngay_thanh_toan`),
  KEY `idx_id_nv_thanh_toan` (`id_nv`,`trang_thai_thanh_toan`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Bảng lương chi tiết của nhân viên';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bang_luong`
--

LOCK TABLES `bang_luong` WRITE;
/*!40000 ALTER TABLE `bang_luong` DISABLE KEYS */;
INSERT INTO `bang_luong` VALUES (7,30,1,'2025-11',0.00,0.00,200000.00,50000.00,0.00,450000.00,'cho_duyet','da_thanh_toan','2025-11-30 17:00:58',10,NULL,NULL,NULL,NULL,'2025-11-30 16:51:52','2025-11-30 17:01:18',NULL,0.00,0.00,0.00,'mo',NULL);
/*!40000 ALTER TABLE `bang_luong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bang_luong_chi_tiet`
--

DROP TABLE IF EXISTS `bang_luong_chi_tiet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bang_luong_chi_tiet` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL COMMENT 'ID bảng lương',
  `loai` enum('phu_cap','khau_tru') NOT NULL COMMENT 'Loại khoản',
  `ten_khoan` varchar(255) NOT NULL COMMENT 'Tên khoản (ví dụ: Ăn trưa, Đi muộn...)',
  `so_tien` decimal(12,2) NOT NULL COMMENT 'Số tiền',
  `ghi_chu` varchar(500) DEFAULT NULL COMMENT 'Ghi chú',
  `ngay_tao` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_bang_luong` (`id_bang_luong`),
  CONSTRAINT `bang_luong_chi_tiet_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Chi tiết các khoản phụ cấp/khấu trừ trong bảng lương';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bang_luong_chi_tiet`
--

LOCK TABLES `bang_luong_chi_tiet` WRITE;
/*!40000 ALTER TABLE `bang_luong_chi_tiet` DISABLE KEYS */;
/*!40000 ALTER TABLE `bang_luong_chi_tiet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bang_luong_khautru`
--

DROP TABLE IF EXISTS `bang_luong_khautru`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bang_luong_khautru` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `loai_khautru` varchar(100) DEFAULT NULL,
  `mo_ta` text DEFAULT NULL,
  `so_tien` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_bang_luong` (`id_bang_luong`),
  CONSTRAINT `bang_luong_khautru_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bang_luong_khautru`
--

LOCK TABLES `bang_luong_khautru` WRITE;
/*!40000 ALTER TABLE `bang_luong_khautru` DISABLE KEYS */;
/*!40000 ALTER TABLE `bang_luong_khautru` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bang_luong_lich_su`
--

DROP TABLE IF EXISTS `bang_luong_lich_su`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bang_luong_lich_su` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `hanh_dong` varchar(100) DEFAULT NULL,
  `gia_tri_cu` text DEFAULT NULL,
  `gia_tri_moi` text DEFAULT NULL,
  `nguoi_thuc_hien` int(11) DEFAULT NULL,
  `ngay_thay_doi` datetime DEFAULT current_timestamp(),
  `ghi_chu` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_bang_luong` (`id_bang_luong`),
  KEY `nguoi_thuc_hien` (`nguoi_thuc_hien`),
  KEY `idx_ngay` (`ngay_thay_doi`),
  CONSTRAINT `bang_luong_lich_su_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bang_luong_lich_su_ibfk_2` FOREIGN KEY (`nguoi_thuc_hien`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bang_luong_lich_su`
--

LOCK TABLES `bang_luong_lich_su` WRITE;
/*!40000 ALTER TABLE `bang_luong_lich_su` DISABLE KEYS */;
/*!40000 ALTER TABLE `bang_luong_lich_su` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bang_luong_phucap`
--

DROP TABLE IF EXISTS `bang_luong_phucap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bang_luong_phucap` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `loai_phucap` varchar(100) DEFAULT NULL,
  `mo_ta` text DEFAULT NULL,
  `so_tien` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_bang_luong` (`id_bang_luong`),
  CONSTRAINT `bang_luong_phucap_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bang_luong_phucap`
--

LOCK TABLES `bang_luong_phucap` WRITE;
/*!40000 ALTER TABLE `bang_luong_phucap` DISABLE KEYS */;
/*!40000 ALTER TABLE `bang_luong_phucap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `binhluan`
--

DROP TABLE IF EXISTS `binhluan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `binhluan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_phim` int(11) NOT NULL,
  `id_user` int(11) NOT NULL,
  `noidung` text NOT NULL,
  `ngaybinhluan` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_phim` (`id_phim`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `binhluan_ibfk_1` FOREIGN KEY (`id_phim`) REFERENCES `phim` (`id`),
  CONSTRAINT `binhluan_ibfk_2` FOREIGN KEY (`id_user`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `binhluan`
--

LOCK TABLES `binhluan` WRITE;
/*!40000 ALTER TABLE `binhluan` DISABLE KEYS */;
/*!40000 ALTER TABLE `binhluan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cau_hinh_luong_nv`
--

DROP TABLE IF EXISTS `cau_hinh_luong_nv`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cau_hinh_luong_nv` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nv` int(11) NOT NULL,
  `id_loai_luong` int(11) DEFAULT NULL,
  `luong_co_ban` decimal(12,2) DEFAULT NULL COMMENT 'L??ng c? b?n ri?ng (override m?c ??nh)',
  `he_so_luong` decimal(4,2) DEFAULT 1.00,
  `ngay_ap_dung` date NOT NULL DEFAULT curdate(),
  `ngay_ket_thuc` date DEFAULT NULL,
  `ghi_chu` text DEFAULT NULL,
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_nv` (`id_nv`),
  KEY `id_loai_luong` (`id_loai_luong`),
  CONSTRAINT `cau_hinh_luong_nv_ibfk_1` FOREIGN KEY (`id_nv`) REFERENCES `taikhoan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cau_hinh_luong_nv_ibfk_2` FOREIGN KEY (`id_loai_luong`) REFERENCES `loai_luong` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cau_hinh_luong_nv`
--

LOCK TABLES `cau_hinh_luong_nv` WRITE;
/*!40000 ALTER TABLE `cau_hinh_luong_nv` DISABLE KEYS */;
INSERT INTO `cau_hinh_luong_nv` VALUES (1,30,6,30000.00,1.00,'2026-07-01',NULL,'Test salary configuration','2026-07-11 19:27:44'),(2,34,6,30000.00,1.00,'2026-07-01',NULL,'Test salary configuration','2026-07-11 19:27:44'),(3,35,6,30000.00,1.00,'2026-07-01',NULL,'Test salary configuration','2026-07-11 19:27:44');
/*!40000 ALTER TABLE `cau_hinh_luong_nv` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cham_cong`
--

DROP TABLE IF EXISTS `cham_cong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cham_cong` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nv` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `ngay` date NOT NULL,
  `gio_vao` time NOT NULL,
  `anh_vao` varchar(500) DEFAULT NULL COMMENT 'Đường dẫn ảnh check-in',
  `gio_ra` time DEFAULT NULL,
  `anh_ra` varchar(500) DEFAULT NULL COMMENT 'Đường dẫn ảnh check-out',
  `break_duration` int(11) DEFAULT 60,
  `ghi_chu` varchar(255) DEFAULT NULL,
  `ngay_tao` datetime NOT NULL DEFAULT current_timestamp(),
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `location_accuracy` float DEFAULT NULL,
  `fingerprint_vao` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`fingerprint_vao`)),
  `fingerprint_ra` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`fingerprint_ra`)),
  `ghi_chu_ra` varchar(255) DEFAULT NULL,
  `auth_method_in` varchar(50) DEFAULT 'manual',
  `auth_method_out` varchar(50) DEFAULT 'manual',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=113 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cham_cong`
--

LOCK TABLES `cham_cong` WRITE;
/*!40000 ALTER TABLE `cham_cong` DISABLE KEYS */;
/*!40000 ALTER TABLE `cham_cong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_analytics`
--

DROP TABLE IF EXISTS `chat_analytics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_analytics` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `session_id` varchar(255) NOT NULL,
  `id_user` int(11) DEFAULT NULL,
  `total_messages` int(11) DEFAULT 0,
  `user_satisfaction` tinyint(1) DEFAULT NULL,
  `resolved_issues` text DEFAULT NULL,
  `chat_duration` int(11) DEFAULT NULL,
  `bot_accuracy` decimal(5,4) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `session_id` (`session_id`),
  KEY `id_user` (`id_user`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_analytics`
--

LOCK TABLES `chat_analytics` WRITE;
/*!40000 ALTER TABLE `chat_analytics` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_analytics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_history`
--

DROP TABLE IF EXISTS `chat_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chat_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) DEFAULT NULL,
  `session_id` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `is_user_message` tinyint(1) NOT NULL,
  `timestamp` datetime DEFAULT current_timestamp(),
  `intent` varchar(100) DEFAULT NULL,
  `confidence` decimal(5,4) DEFAULT NULL,
  `response_time` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_user` (`id_user`),
  KEY `session_id` (`session_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_history`
--

LOCK TABLES `chat_history` WRITE;
/*!40000 ALTER TABLE `chat_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_combo`
--

DROP TABLE IF EXISTS `chi_tiet_combo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_combo` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_combo` int(11) NOT NULL,
  `ten_mon` varchar(255) NOT NULL,
  `so_luong` int(11) DEFAULT 1,
  `don_gia` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `id_combo` (`id_combo`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_combo`
--

LOCK TABLES `chi_tiet_combo` WRITE;
/*!40000 ALTER TABLE `chi_tiet_combo` DISABLE KEYS */;
INSERT INTO `chi_tiet_combo` VALUES (1,1,'Bắp rang bơ',1,30000.00),(2,1,'Nước ngọt',1,15000.00),(3,2,'Bắp rang bơ',1,30000.00),(4,2,'Nước ngọt',1,15000.00),(5,2,'Hotdog',1,40000.00),(6,3,'Bắp rang bơ',2,30000.00),(7,3,'Nước ngọt',2,15000.00),(8,3,'Bánh ngọt',1,30000.00);
/*!40000 ALTER TABLE `chi_tiet_combo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_khau_tru_thang`
--

DROP TABLE IF EXISTS `chi_tiet_khau_tru_thang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_khau_tru_thang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `id_loai_khau_tru` int(11) NOT NULL,
  `so_lan` int(11) DEFAULT 0 COMMENT 'S? l?n (n?u t?nh theo l?n)',
  `so_gio` decimal(10,2) DEFAULT 0.00 COMMENT 'S? gi? (n?u t?nh theo gi?)',
  `so_tien` decimal(12,2) NOT NULL,
  `ghi_chu` varchar(500) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_bang_luong` (`id_bang_luong`),
  KEY `id_loai_khau_tru` (`id_loai_khau_tru`),
  CONSTRAINT `chi_tiet_khau_tru_thang_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_khau_tru_thang_ibfk_2` FOREIGN KEY (`id_loai_khau_tru`) REFERENCES `loai_khau_tru` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_khau_tru_thang`
--

LOCK TABLES `chi_tiet_khau_tru_thang` WRITE;
/*!40000 ALTER TABLE `chi_tiet_khau_tru_thang` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_khau_tru_thang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_phu_cap_thang`
--

DROP TABLE IF EXISTS `chi_tiet_phu_cap_thang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chi_tiet_phu_cap_thang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `id_loai_phu_cap` int(11) NOT NULL,
  `so_tien` decimal(12,2) NOT NULL,
  `ghi_chu` varchar(500) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_bang_luong` (`id_bang_luong`),
  KEY `id_loai_phu_cap` (`id_loai_phu_cap`),
  CONSTRAINT `chi_tiet_phu_cap_thang_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `chi_tiet_phu_cap_thang_ibfk_2` FOREIGN KEY (`id_loai_phu_cap`) REFERENCES `loai_phu_cap` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_phu_cap_thang`
--

LOCK TABLES `chi_tiet_phu_cap_thang` WRITE;
/*!40000 ALTER TABLE `chi_tiet_phu_cap_thang` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_phu_cap_thang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `claimed_missions`
--

DROP TABLE IF EXISTS `claimed_missions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `claimed_missions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_tk` int(11) NOT NULL COMMENT 'ID tài khoản thành viên',
  `mission_key` varchar(50) NOT NULL COMMENT 'Mã nhiệm vụ (VD: xem_3phim, mua_2combo, cinepass_member)',
  `thang` int(2) NOT NULL COMMENT 'Tháng hoàn thành (1-12)',
  `nam` int(4) NOT NULL COMMENT 'Năm hoàn thành',
  `diem_thuong` int(11) NOT NULL DEFAULT 0 COMMENT 'Số điểm thưởng đã nhận',
  `ngay_nhan` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_mission_user_month` (`id_tk`,`mission_key`,`thang`,`nam`),
  KEY `idx_cm_tk` (`id_tk`),
  CONSTRAINT `cm_tk_fk` FOREIGN KEY (`id_tk`) REFERENCES `taikhoan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `claimed_missions`
--

LOCK TABLES `claimed_missions` WRITE;
/*!40000 ALTER TABLE `claimed_missions` DISABLE KEYS */;
INSERT INTO `claimed_missions` VALUES (4,17,'mission_phim',7,2026,100,'2026-07-12 20:01:51'),(5,48,'mission_combo',7,2026,50,'2026-07-13 20:45:12');
/*!40000 ALTER TABLE `claimed_missions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `combo_do_an`
--

DROP TABLE IF EXISTS `combo_do_an`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `combo_do_an` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_rap` int(11) DEFAULT NULL COMMENT 'ID rạp (NULL = áp dụng tất cả rạp)',
  `ten_combo` varchar(255) NOT NULL,
  `mo_ta` text DEFAULT NULL,
  `gia` decimal(10,2) NOT NULL,
  `hinh_anh` varchar(255) DEFAULT NULL,
  `trang_thai` tinyint(1) DEFAULT 1,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_combo_rap` (`id_rap`),
  CONSTRAINT `fk_combo_rap` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `combo_do_an`
--

LOCK TABLES `combo_do_an` WRITE;
/*!40000 ALTER TABLE `combo_do_an` DISABLE KEYS */;
/*!40000 ALTER TABLE `combo_do_an` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cong_them_gio`
--

DROP TABLE IF EXISTS `cong_them_gio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cong_them_gio` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nv` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `ngay` date NOT NULL,
  `so_gio` decimal(5,2) NOT NULL,
  `don_gia_them_gio` decimal(12,2) NOT NULL COMMENT 'Gi? c?ng th?m (th??ng 150% l??ng)',
  `trang_thai` enum('cho_duyet','duyet','da_thanh_toan') DEFAULT 'cho_duyet',
  `ghi_chu` text DEFAULT NULL,
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_rap` (`id_rap`),
  KEY `idx_nv_thang` (`id_nv`,`ngay`),
  CONSTRAINT `cong_them_gio_ibfk_1` FOREIGN KEY (`id_nv`) REFERENCES `taikhoan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cong_them_gio_ibfk_2` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cong_them_gio`
--

LOCK TABLES `cong_them_gio` WRITE;
/*!40000 ALTER TABLE `cong_them_gio` DISABLE KEYS */;
/*!40000 ALTER TABLE `cong_them_gio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `don_nghi_phep`
--

DROP TABLE IF EXISTS `don_nghi_phep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `don_nghi_phep` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nhan_vien` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `tu_ngay` date NOT NULL,
  `den_ngay` date NOT NULL,
  `ly_do` varchar(255) NOT NULL,
  `trang_thai` enum('Chờ duyệt','Đã duyệt','Từ chối') DEFAULT 'Chờ duyệt',
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_nhan_vien` (`id_nhan_vien`),
  KEY `id_rap` (`id_rap`),
  CONSTRAINT `dnp_ibfk_1` FOREIGN KEY (`id_nhan_vien`) REFERENCES `taikhoan` (`id`),
  CONSTRAINT `dnp_ibfk_2` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `don_nghi_phep`
--

LOCK TABLES `don_nghi_phep` WRITE;
/*!40000 ALTER TABLE `don_nghi_phep` DISABLE KEYS */;
/*!40000 ALTER TABLE `don_nghi_phep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ghe_ngoi`
--

DROP TABLE IF EXISTS `ghe_ngoi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ghe_ngoi` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_phong` int(11) NOT NULL,
  `ten_ghe` varchar(10) NOT NULL,
  `loai_ghe` enum('standard','vip','couple','disabled') DEFAULT 'standard',
  `gia_ghe` decimal(10,2) NOT NULL,
  `trang_thai` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_ghe_phong` (`id_phong`,`ten_ghe`),
  KEY `id_phong` (`id_phong`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ghe_ngoi`
--

LOCK TABLES `ghe_ngoi` WRITE;
/*!40000 ALTER TABLE `ghe_ngoi` DISABLE KEYS */;
INSERT INTO `ghe_ngoi` VALUES (1,1,'A1','standard',100000.00,1),(2,1,'A2','standard',100000.00,1),(3,1,'A3','standard',100000.00,1),(4,1,'A4','standard',100000.00,1),(5,1,'A5','standard',100000.00,1),(6,1,'B1','vip',150000.00,1),(7,1,'B2','vip',150000.00,1),(8,1,'B3','vip',150000.00,1),(9,1,'C1','couple',200000.00,1),(10,1,'C2','couple',200000.00,1);
/*!40000 ALTER TABLE `ghe_ngoi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hang_thanh_vien`
--

DROP TABLE IF EXISTS `hang_thanh_vien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hang_thanh_vien` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_hang` varchar(50) NOT NULL,
  `ten_hang` varchar(100) NOT NULL,
  `diem_toi_thieu` int(11) NOT NULL,
  `ti_le_tich_diem` decimal(5,2) NOT NULL COMMENT 'Nhân hệ số (VD: 1.5 = tích x1.5)',
  `ti_le_giam_gia` decimal(5,2) DEFAULT 0.00 COMMENT 'Giảm % khi đặt vé',
  `uu_dai_khac` text DEFAULT NULL COMMENT 'JSON ưu đãi khác',
  `mau_sac` varchar(7) DEFAULT '#999999',
  `thu_tu` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_hang` (`ma_hang`),
  KEY `idx_diem` (`diem_toi_thieu`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hang_thanh_vien`
--

LOCK TABLES `hang_thanh_vien` WRITE;
/*!40000 ALTER TABLE `hang_thanh_vien` DISABLE KEYS */;
INSERT INTO `hang_thanh_vien` VALUES (1,'dong','Đồng',0,1.00,0.00,NULL,'#CD7F32',1),(2,'bac','Bạc',1000,1.20,5.00,NULL,'#C0C0C0',2),(3,'vang','Vàng',5000,1.50,10.00,NULL,'#FFD700',3),(4,'kim_cuong','Kim Cương',15000,2.00,15.00,NULL,'#B9F2FF',4);
/*!40000 ALTER TABLE `hang_thanh_vien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoa_don`
--

DROP TABLE IF EXISTS `hoa_don`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hoa_don` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ngay_tt` datetime NOT NULL,
  `trang_thai` int(1) DEFAULT 0,
  `thanh_tien` int(10) NOT NULL,
  `id_khuyen_mai` int(11) DEFAULT NULL,
  `tien_giam` decimal(10,2) DEFAULT 0.00,
  `thanh_toan_cuoi` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=349 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoa_don`
--

LOCK TABLES `hoa_don` WRITE;
/*!40000 ALTER TABLE `hoa_don` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoa_don` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khung_gio_chieu`
--

DROP TABLE IF EXISTS `khung_gio_chieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khung_gio_chieu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_lich_chieu` int(11) NOT NULL,
  `id_phong` int(11) NOT NULL,
  `thoi_gian_chieu` time NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_lich_chieu` (`id_lich_chieu`),
  KEY `id_phong` (`id_phong`),
  KEY `idx_kgc_lc` (`id_lich_chieu`),
  KEY `idx_kgc_phong` (`id_phong`)
) ENGINE=InnoDB AUTO_INCREMENT=10816 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khung_gio_chieu`
--

LOCK TABLES `khung_gio_chieu` WRITE;
/*!40000 ALTER TABLE `khung_gio_chieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `khung_gio_chieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khuyen_mai`
--

DROP TABLE IF EXISTS `khuyen_mai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khuyen_mai` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_khuyen_mai` varchar(255) NOT NULL,
  `ma_khuyen_mai` varchar(50) DEFAULT NULL,
  `mo_ta` text DEFAULT NULL,
  `phan_tram_giam` decimal(5,2) NOT NULL,
  `gia_tri_giam` decimal(10,2) DEFAULT 0.00,
  `loai_giam` enum('phan_tram','tien_mat') NOT NULL DEFAULT 'phan_tram',
  `ngay_bat_dau` date NOT NULL,
  `ngay_ket_thuc` date NOT NULL,
  `dieu_kien_ap_dung` text DEFAULT NULL,
  `trang_thai` tinyint(1) DEFAULT 1,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  `id_rap` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_ma_khuyen_mai` (`ma_khuyen_mai`),
  KEY `fk_khuyen_mai_rap` (`id_rap`),
  CONSTRAINT `fk_khuyen_mai_rap` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khuyen_mai`
--

LOCK TABLES `khuyen_mai` WRITE;
/*!40000 ALTER TABLE `khuyen_mai` DISABLE KEYS */;
/*!40000 ALTER TABLE `khuyen_mai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_lam_viec`
--

DROP TABLE IF EXISTS `lich_lam_viec`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_lam_viec` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nhan_vien` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `ngay` date NOT NULL,
  `gio_bat_dau` time NOT NULL,
  `gio_ket_thuc` time NOT NULL,
  `ca_lam` varchar(50) DEFAULT NULL,
  `ghi_chu` varchar(255) DEFAULT NULL,
  `trang_thai` enum('lich','doi','huy') DEFAULT 'lich',
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_nhan_vien` (`id_nhan_vien`),
  KEY `id_rap` (`id_rap`),
  CONSTRAINT `llv_ibfk_1` FOREIGN KEY (`id_nhan_vien`) REFERENCES `taikhoan` (`id`),
  CONSTRAINT `llv_ibfk_2` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=832 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_lam_viec`
--

LOCK TABLES `lich_lam_viec` WRITE;
/*!40000 ALTER TABLE `lich_lam_viec` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_lam_viec` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_diem`
--

DROP TABLE IF EXISTS `lich_su_diem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_diem` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_tk` int(11) NOT NULL,
  `loai_giao_dich` enum('cong','tru','huy') NOT NULL,
  `so_diem` int(11) NOT NULL,
  `ly_do` varchar(500) NOT NULL,
  `id_ve` int(11) DEFAULT NULL COMMENT 'ID vé liên quan (nếu có)',
  `id_hoa_don` int(11) DEFAULT NULL COMMENT 'ID hóa đơn liên quan (nếu có)',
  `nguoi_thuc_hien` varchar(100) DEFAULT 'system' COMMENT 'Ai thực hiện (system/admin/user)',
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_ve` (`id_ve`),
  KEY `id_hoa_don` (`id_hoa_don`),
  KEY `idx_user_date` (`id_tk`,`ngay_tao`),
  KEY `idx_transaction_type` (`loai_giao_dich`),
  CONSTRAINT `lich_su_diem_ibfk_1` FOREIGN KEY (`id_tk`) REFERENCES `taikhoan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lich_su_diem_ibfk_2` FOREIGN KEY (`id_ve`) REFERENCES `ve` (`id`) ON DELETE SET NULL,
  CONSTRAINT `lich_su_diem_ibfk_3` FOREIGN KEY (`id_hoa_don`) REFERENCES `hoa_don` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_diem`
--

LOCK TABLES `lich_su_diem` WRITE;
/*!40000 ALTER TABLE `lich_su_diem` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_diem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_phe_duyet_bangluong`
--

DROP TABLE IF EXISTS `lich_su_phe_duyet_bangluong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_phe_duyet_bangluong` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `id_user_duyet` int(11) DEFAULT NULL,
  `trang_thai_cu` varchar(50) DEFAULT NULL,
  `trang_thai_moi` varchar(50) NOT NULL,
  `ghi_chu` text DEFAULT NULL,
  `ngay_phe_duyet` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_user_duyet` (`id_user_duyet`),
  KEY `idx_thang_trang_thai` (`id_bang_luong`,`ngay_phe_duyet`),
  CONSTRAINT `lich_su_phe_duyet_bangluong_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lich_su_phe_duyet_bangluong_ibfk_2` FOREIGN KEY (`id_user_duyet`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_phe_duyet_bangluong`
--

LOCK TABLES `lich_su_phe_duyet_bangluong` WRITE;
/*!40000 ALTER TABLE `lich_su_phe_duyet_bangluong` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_phe_duyet_bangluong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_thanh_toan`
--

DROP TABLE IF EXISTS `lich_su_thanh_toan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_thanh_toan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `id_nv` int(11) NOT NULL,
  `thang` varchar(7) NOT NULL COMMENT 'YYYY-MM format',
  `so_tien` decimal(15,2) NOT NULL COMMENT 'Amount paid',
  `phuong_thuc` varchar(50) DEFAULT 'mock_transfer' COMMENT 'Payment method',
  `status` varchar(50) DEFAULT 'da_thanh_toan' COMMENT 'Transaction status',
  `ngay_thanh_toan` datetime DEFAULT current_timestamp() COMMENT 'Payment date/time',
  `ghi_chu` text DEFAULT NULL COMMENT 'Notes',
  `receipt_id` varchar(50) DEFAULT NULL COMMENT 'Receipt/transaction reference number',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_transaction` (`id_bang_luong`,`id_nv`,`thang`),
  KEY `idx_thang` (`thang`),
  KEY `idx_id_nv` (`id_nv`),
  KEY `idx_id_bang_luong` (`id_bang_luong`),
  KEY `idx_receipt_id` (`receipt_id`),
  CONSTRAINT `lich_su_thanh_toan_ibfk_1` FOREIGN KEY (`id_nv`) REFERENCES `nhan_vien_rap` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lich_su_thanh_toan_ibfk_2` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Payment transaction history - L?ch s? thanh to?n l??ng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_thanh_toan`
--

LOCK TABLES `lich_su_thanh_toan` WRITE;
/*!40000 ALTER TABLE `lich_su_thanh_toan` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_thanh_toan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_thanh_toan_ve`
--

DROP TABLE IF EXISTS `lich_su_thanh_toan_ve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_thanh_toan_ve` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_ve` int(11) NOT NULL,
  `id_tk` int(11) NOT NULL,
  `so_tien` decimal(15,2) NOT NULL,
  `phuong_thuc` varchar(50) DEFAULT 'sepay' COMMENT 'Payment method',
  `transaction_id` varchar(100) DEFAULT NULL COMMENT 'Sepay transaction ID',
  `status` varchar(50) DEFAULT 'pending' COMMENT 'pending|success|failed',
  `ma_gd_sepay` varchar(100) DEFAULT NULL COMMENT 'Mã giao dịch Sepay',
  `noi_dung_chuyen_khoan` varchar(255) DEFAULT NULL COMMENT 'Content of transfer',
  `ngay_thanh_toan` datetime DEFAULT current_timestamp(),
  `ghi_chu` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_ve` (`id_ve`),
  KEY `id_tk` (`id_tk`),
  CONSTRAINT `lich_su_thanh_toan_ve_ibfk_1` FOREIGN KEY (`id_ve`) REFERENCES `ve` (`id`),
  CONSTRAINT `lich_su_thanh_toan_ve_ibfk_2` FOREIGN KEY (`id_tk`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Payment history for tickets - Lịch sử thanh toán vé';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_thanh_toan_ve`
--

LOCK TABLES `lich_su_thanh_toan_ve` WRITE;
/*!40000 ALTER TABLE `lich_su_thanh_toan_ve` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_thanh_toan_ve` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_thay_doi_bangluong`
--

DROP TABLE IF EXISTS `lich_su_thay_doi_bangluong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_thay_doi_bangluong` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_bang_luong` int(11) NOT NULL,
  `id_user_thay_doi` int(11) DEFAULT NULL,
  `cot_thay_doi` varchar(50) NOT NULL COMMENT 'C?t n?o thay ??i',
  `gia_tri_cu` text DEFAULT NULL,
  `gia_tri_moi` text DEFAULT NULL,
  `ly_do` text DEFAULT NULL,
  `ngay_thay_doi` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_user_thay_doi` (`id_user_thay_doi`),
  KEY `idx_thang_nv` (`id_bang_luong`,`ngay_thay_doi`),
  CONSTRAINT `lich_su_thay_doi_bangluong_ibfk_1` FOREIGN KEY (`id_bang_luong`) REFERENCES `bang_luong` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lich_su_thay_doi_bangluong_ibfk_2` FOREIGN KEY (`id_user_thay_doi`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_thay_doi_bangluong`
--

LOCK TABLES `lich_su_thay_doi_bangluong` WRITE;
/*!40000 ALTER TABLE `lich_su_thay_doi_bangluong` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_thay_doi_bangluong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lich_su_xem_phim`
--

DROP TABLE IF EXISTS `lich_su_xem_phim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lich_su_xem_phim` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `id_phim` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `ngay_xem` datetime NOT NULL,
  `danh_gia` tinyint(1) DEFAULT NULL,
  `binh_luan` text DEFAULT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_user` (`id_user`),
  KEY `id_phim` (`id_phim`),
  KEY `id_rap` (`id_rap`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lich_su_xem_phim`
--

LOCK TABLES `lich_su_xem_phim` WRITE;
/*!40000 ALTER TABLE `lich_su_xem_phim` DISABLE KEYS */;
/*!40000 ALTER TABLE `lich_su_xem_phim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lichchieu`
--

DROP TABLE IF EXISTS `lichchieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lichchieu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_ke_hoach` varchar(50) DEFAULT NULL,
  `id_phim` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `ngay_chieu` date NOT NULL DEFAULT current_timestamp(),
  `trang_thai_duyet` enum('Chờ duyệt','Đã duyệt','Từ chối') NOT NULL DEFAULT 'Chờ duyệt',
  `ghi_chu` text DEFAULT NULL,
  `nguoi_tao` int(11) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT current_timestamp(),
  `ngay_gui` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `id_phim` (`id_phim`),
  KEY `lichchieu_ibfk_2` (`id_rap`),
  KEY `idx_ma_ke_hoach` (`ma_ke_hoach`),
  KEY `idx_lc_phim` (`id_phim`),
  KEY `idx_lc_rap` (`id_rap`),
  KEY `idx_lc_ngay` (`ngay_chieu`),
  KEY `idx_lc_duyet` (`trang_thai_duyet`),
  CONSTRAINT `lichchieu_ibfk_1` FOREIGN KEY (`id_phim`) REFERENCES `phim` (`id`),
  CONSTRAINT `lichchieu_ibfk_2` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3710 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lichchieu`
--

LOCK TABLES `lichchieu` WRITE;
/*!40000 ALTER TABLE `lichchieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `lichchieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lien_he`
--

DROP TABLE IF EXISTS `lien_he`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lien_he` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_khach` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `tin_nhan` text NOT NULL,
  `trang_thai` int(11) DEFAULT 0 COMMENT '0: Chưa xử lý, 1: Đã xử lý',
  `tra_loi` text DEFAULT NULL COMMENT 'Nội dung phản hồi từ admin',
  `ngay_tao` datetime DEFAULT current_timestamp(),
  `ngay_cap_nhat` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lien_he`
--

LOCK TABLES `lien_he` WRITE;
/*!40000 ALTER TABLE `lien_he` DISABLE KEYS */;
/*!40000 ALTER TABLE `lien_he` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loai_khau_tru`
--

DROP TABLE IF EXISTS `loai_khau_tru`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loai_khau_tru` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_khau_tru` varchar(100) NOT NULL COMMENT 'V? d?: ?i mu?n, V? s?m, Thi?u h?...',
  `mo_ta` text DEFAULT NULL,
  `so_tien_phat_tren_lan` decimal(12,2) DEFAULT 0.00,
  `so_tien_phat_tren_gio` decimal(12,2) DEFAULT 0.00,
  `trang_thai` enum('active','inactive') DEFAULT 'active',
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loai_khau_tru`
--

LOCK TABLES `loai_khau_tru` WRITE;
/*!40000 ALTER TABLE `loai_khau_tru` DISABLE KEYS */;
INSERT INTO `loai_khau_tru` VALUES (1,'?i mu?n','Ph?t ?i mu?n',50000.00,0.00,'active','2025-11-30 17:54:43'),(2,'V? s?m','Ph?t v? s?m',50000.00,0.00,'active','2025-11-30 17:54:43'),(3,'Thi?u h?','Ph?t thi?u h?',100000.00,0.00,'active','2025-11-30 17:54:43'),(4,'Kh?ng ch?p h?nh quy ??nh','Ph?t kh?ng ch?p h?nh quy ??nh',200000.00,0.00,'active','2025-11-30 17:54:43'),(5,'Late check-in deduction','Khấu trừ tiền khi đi làm muộn quá quy định',20000.00,0.00,'active','2026-07-11 19:27:44'),(6,'Social Insurance','Khấu trừ BHXH bắt buộc',0.00,10500.00,'active','2026-07-11 19:27:44');
/*!40000 ALTER TABLE `loai_khau_tru` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loai_luong`
--

DROP TABLE IF EXISTS `loai_luong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loai_luong` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_loai` varchar(100) NOT NULL COMMENT 'V? d?: Nh?n vi?n b?n v?, Nh?n vi?n qu?y, Qu?n l?...',
  `mota` text DEFAULT NULL,
  `luong_co_ban` decimal(12,2) NOT NULL DEFAULT 30000.00 COMMENT 'L??ng c? b?n/gi?',
  `he_so_luong` decimal(4,2) DEFAULT 1.00 COMMENT 'H? s? nh?n l??ng',
  `ngay_tao` datetime DEFAULT current_timestamp(),
  `ngay_cap_nhat` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ten_loai` (`ten_loai`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loai_luong`
--

LOCK TABLES `loai_luong` WRITE;
/*!40000 ALTER TABLE `loai_luong` DISABLE KEYS */;
/*!40000 ALTER TABLE `loai_luong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loai_phu_cap`
--

DROP TABLE IF EXISTS `loai_phu_cap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loai_phu_cap` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_phu_cap` varchar(100) NOT NULL COMMENT 'V? d?: ?n tr?a, Ph? c?p ??m, Ph? c?p nguy hi?m...',
  `mo_ta` text DEFAULT NULL,
  `so_tien_mac_dinh` decimal(12,2) DEFAULT 0.00 COMMENT 'S? ti?n m?c ??nh',
  `kieu` enum('co_dinh','theo_gio','theo_tien') DEFAULT 'co_dinh' COMMENT 'Lo?i ph? c?p',
  `chi_tieu` varchar(255) DEFAULT NULL COMMENT 'Ti?u ch? ?p d?ng (v? d?: 22:00-06:00 cho ??m)',
  `trang_thai` enum('active','inactive') DEFAULT 'active',
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loai_phu_cap`
--

LOCK TABLES `loai_phu_cap` WRITE;
/*!40000 ALTER TABLE `loai_phu_cap` DISABLE KEYS */;
/*!40000 ALTER TABLE `loai_phu_cap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loaiphim`
--

DROP TABLE IF EXISTS `loaiphim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loaiphim` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loaiphim`
--

LOCK TABLES `loaiphim` WRITE;
/*!40000 ALTER TABLE `loaiphim` DISABLE KEYS */;
INSERT INTO `loaiphim` VALUES (1,'Kinh Dị'),(2,'Ngôn Tình'),(3,'Hài'),(5,'Ca nhạc'),(8,'Cổ Trang'),(9,'Hoạt Hình');
/*!40000 ALTER TABLE `loaiphim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ngay_nghi_phep`
--

DROP TABLE IF EXISTS `ngay_nghi_phep`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ngay_nghi_phep` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nv` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `ngay_bat_dau` date NOT NULL,
  `ngay_ket_thuc` date NOT NULL,
  `loai` enum('phep_nam','phep_khong_luong','nghi_tat_nhat','nghi_phuc_vu_cong_cong') DEFAULT 'phep_nam',
  `so_ngay` decimal(5,2) DEFAULT NULL,
  `trang_thai` enum('cho_duyet','duyet','tu_choi') DEFAULT 'cho_duyet',
  `ly_do` text DEFAULT NULL,
  `nguoi_duyet` int(11) DEFAULT NULL,
  `ngay_duyet` datetime DEFAULT NULL,
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_nv` (`id_nv`),
  KEY `id_rap` (`id_rap`),
  KEY `nguoi_duyet` (`nguoi_duyet`),
  CONSTRAINT `ngay_nghi_phep_ibfk_1` FOREIGN KEY (`id_nv`) REFERENCES `taikhoan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ngay_nghi_phep_ibfk_2` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ngay_nghi_phep_ibfk_3` FOREIGN KEY (`nguoi_duyet`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ngay_nghi_phep`
--

LOCK TABLES `ngay_nghi_phep` WRITE;
/*!40000 ALTER TABLE `ngay_nghi_phep` DISABLE KEYS */;
/*!40000 ALTER TABLE `ngay_nghi_phep` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhan_vien_rap`
--

DROP TABLE IF EXISTS `nhan_vien_rap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nhan_vien_rap` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_tai_khoan` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `chuc_vu` varchar(100) NOT NULL,
  `ngay_bat_dau` date NOT NULL,
  `luong_co_ban` decimal(10,2) DEFAULT 0.00,
  `trang_thai` tinyint(1) DEFAULT 1,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_tai_khoan` (`id_tai_khoan`),
  KEY `id_rap` (`id_rap`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhan_vien_rap`
--

LOCK TABLES `nhan_vien_rap` WRITE;
/*!40000 ALTER TABLE `nhan_vien_rap` DISABLE KEYS */;
INSERT INTO `nhan_vien_rap` VALUES (1,14,1,'Nhân viên bán vé','2025-01-01',8000000.00,1,'2025-08-15 14:53:15'),(2,10,1,'Quản lý rạp','2025-01-01',15000000.00,1,'2025-08-15 14:53:15');
/*!40000 ALTER TABLE `nhan_vien_rap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phim`
--

DROP TABLE IF EXISTS `phim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phim` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tieu_de` varchar(255) NOT NULL,
  `daodien` varchar(255) NOT NULL,
  `dienvien` varchar(255) NOT NULL,
  `img` varchar(255) NOT NULL,
  `mo_ta` text NOT NULL,
  `date_phat_hanh` date NOT NULL,
  `thoi_luong_phim` int(11) NOT NULL,
  `id_loai` int(11) NOT NULL,
  `quoc_gia` varchar(255) NOT NULL,
  `gia_han_tuoi` int(11) NOT NULL,
  `link_trailer` varchar(5000) NOT NULL,
  `trang_thai_duyet` enum('cho_duyet','da_duyet','tu_choi') DEFAULT 'cho_duyet',
  PRIMARY KEY (`id`),
  KEY `id_loai` (`id_loai`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phim`
--

LOCK TABLES `phim` WRITE;
/*!40000 ALTER TABLE `phim` DISABLE KEYS */;
/*!40000 ALTER TABLE `phim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phim_rap`
--

DROP TABLE IF EXISTS `phim_rap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phim_rap` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_phim` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_phim_rap` (`id_phim`,`id_rap`),
  KEY `id_phim` (`id_phim`),
  KEY `id_rap` (`id_rap`),
  CONSTRAINT `pr_phim_fk` FOREIGN KEY (`id_phim`) REFERENCES `phim` (`id`),
  CONSTRAINT `pr_rap_fk` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=804 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phim_rap`
--

LOCK TABLES `phim_rap` WRITE;
/*!40000 ALTER TABLE `phim_rap` DISABLE KEYS */;
/*!40000 ALTER TABLE `phim_rap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phong_ghe`
--

DROP TABLE IF EXISTS `phong_ghe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phong_ghe` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_phong` int(11) NOT NULL,
  `row_label` varchar(4) NOT NULL,
  `seat_number` int(11) NOT NULL,
  `code` varchar(16) NOT NULL,
  `tier` enum('cheap','middle','expensive') NOT NULL DEFAULT 'cheap',
  `active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_room_code` (`id_phong`,`code`),
  KEY `idx_room` (`id_phong`),
  KEY `idx_pg_phong` (`id_phong`),
  KEY `idx_pg_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=11878 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phong_ghe`
--

LOCK TABLES `phong_ghe` WRITE;
/*!40000 ALTER TABLE `phong_ghe` DISABLE KEYS */;
/*!40000 ALTER TABLE `phong_ghe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phongchieu`
--

DROP TABLE IF EXISTS `phongchieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phongchieu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_rap` int(11) NOT NULL,
  `name` varchar(50) NOT NULL,
  `so_ghe` int(11) DEFAULT 0,
  `loai_phong` enum('2D','3D','4DX','IMAX') DEFAULT '2D',
  `dien_tich` decimal(10,2) DEFAULT 0.00,
  `gia_thuong` decimal(10,2) DEFAULT 50000.00 COMMENT 'Giá vé ghế thường',
  `gia_trung` decimal(10,2) DEFAULT 70000.00 COMMENT 'Giá vé ghế trung',
  `gia_vip` decimal(10,2) DEFAULT 100000.00 COMMENT 'Giá vé ghế VIP',
  PRIMARY KEY (`id`),
  KEY `id_rap` (`id_rap`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phongchieu`
--

LOCK TABLES `phongchieu` WRITE;
/*!40000 ALTER TABLE `phongchieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `phongchieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quy_tac_tich_diem`
--

DROP TABLE IF EXISTS `quy_tac_tich_diem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `quy_tac_tich_diem` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_quy_tac` varchar(255) NOT NULL,
  `loai` enum('dat_ve','combo','thuong','su_kien','sinh_nhat') NOT NULL,
  `ti_le_quy_doi` decimal(5,2) NOT NULL COMMENT 'VD: 0.01 = 1 điểm/100đ, 0.02 = 1 điểm/50đ',
  `diem_co_dinh` int(11) DEFAULT NULL COMMENT 'Điểm cố định (không tính theo tiền)',
  `ngay_bat_dau` date NOT NULL,
  `ngay_ket_thuc` date DEFAULT NULL,
  `trang_thai` tinyint(4) DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_type_status` (`loai`,`trang_thai`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quy_tac_tich_diem`
--

LOCK TABLES `quy_tac_tich_diem` WRITE;
/*!40000 ALTER TABLE `quy_tac_tich_diem` DISABLE KEYS */;
INSERT INTO `quy_tac_tich_diem` VALUES (1,'Tích điểm đặt vé cơ bản','dat_ve',0.00,NULL,'2024-01-01',NULL,1,'2025-10-26 08:56:47'),(2,'Tích điểm mua combo','combo',0.00,NULL,'2024-01-01',NULL,1,'2025-10-26 08:56:47'),(3,'Thưởng đăng ký mới','thuong',0.00,50,'2024-01-01',NULL,1,'2025-10-26 08:56:47'),(4,'Thưởng sinh nhật','sinh_nhat',0.00,100,'2024-01-01',NULL,1,'2025-10-26 08:56:47');
/*!40000 ALTER TABLE `quy_tac_tich_diem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rap_chieu`
--

DROP TABLE IF EXISTS `rap_chieu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rap_chieu` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_rap` varchar(255) NOT NULL,
  `dia_chi` text NOT NULL,
  `so_dien_thoai` varchar(15) NOT NULL,
  `email` varchar(255) NOT NULL,
  `trang_thai` tinyint(1) DEFAULT 1,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  `mo_ta` text DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rap_chieu`
--

LOCK TABLES `rap_chieu` WRITE;
/*!40000 ALTER TABLE `rap_chieu` DISABLE KEYS */;
/*!40000 ALTER TABLE `rap_chieu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recommendation_log`
--

DROP TABLE IF EXISTS `recommendation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recommendation_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) DEFAULT NULL,
  `id_phim` int(11) NOT NULL,
  `id_combo_suggested` int(11) NOT NULL COMMENT 'Combo được gợi ý',
  `reco_type` varchar(30) NOT NULL COMMENT 'Loại gợi ý: family/couple/kid/sweet_girl/solo_king/healthy/solo',
  `reco_score` decimal(6,1) DEFAULT NULL COMMENT 'Tổng điểm scoring',
  `scoring_factors` text DEFAULT NULL COMMENT 'JSON chi tiết từng yếu tố scoring',
  `was_accepted` tinyint(1) DEFAULT 0 COMMENT '1 = khách chọn combo được gợi ý',
  `combo_actually_chosen` varchar(500) DEFAULT NULL COMMENT 'Combo khách thực sự chọn',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_combo` (`id_combo_suggested`),
  KEY `idx_phim` (`id_phim`),
  KEY `idx_accepted` (`was_accepted`),
  KEY `idx_date` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recommendation_log`
--

LOCK TABLES `recommendation_log` WRITE;
/*!40000 ALTER TABLE `recommendation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `recommendation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `su_co`
--

DROP TABLE IF EXISTS `su_co`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `su_co` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_rap` int(11) NOT NULL COMMENT 'Rạp chiếu xảy ra sự cố',
  `id_phong` int(11) DEFAULT NULL COMMENT 'Phòng chiếu (NULL nếu sự cố chung)',
  `loai_su_co` enum('ghe_hong','may_chieu','dieu_hoa','am_thanh','khac') NOT NULL DEFAULT 'khac',
  `vi_tri` varchar(50) DEFAULT NULL COMMENT 'Vị trí cụ thể (VD: ghế A5, máy chiếu #2)',
  `mo_ta` text NOT NULL COMMENT 'Mô tả chi tiết sự cố',
  `muc_do` enum('nhe','trung_binh','nghiem_trong') NOT NULL DEFAULT 'trung_binh',
  `trang_thai` enum('chua_xu_ly','dang_xu_ly','da_khac_phuc') NOT NULL DEFAULT 'chua_xu_ly',
  `nguoi_bao` int(11) DEFAULT NULL COMMENT 'ID nhân viên báo cáo',
  `nguoi_xu_ly` int(11) DEFAULT NULL COMMENT 'ID nhân viên xử lý',
  `ghi_chu_xu_ly` text DEFAULT NULL,
  `ngay_bao` datetime NOT NULL DEFAULT current_timestamp(),
  `ngay_xu_ly` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_suco_rap` (`id_rap`),
  KEY `idx_suco_phong` (`id_phong`),
  KEY `idx_suco_trang_thai` (`trang_thai`),
  KEY `idx_suco_loai` (`loai_su_co`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `su_co`
--

LOCK TABLES `su_co` WRITE;
/*!40000 ALTER TABLE `su_co` DISABLE KEYS */;
/*!40000 ALTER TABLE `su_co` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taikhoan`
--

DROP TABLE IF EXISTS `taikhoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taikhoan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `user` varchar(255) NOT NULL,
  `pass` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(10) NOT NULL,
  `dia_chi` varchar(255) NOT NULL,
  `vai_tro` int(1) NOT NULL,
  `id_rap` int(11) DEFAULT NULL,
  `img` varchar(255) NOT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  `luong_co_ban` decimal(12,2) DEFAULT 30000.00 COMMENT 'Đơn giá/giờ (VND)',
  `phu_cap_co_dinh` decimal(12,2) DEFAULT 0.00 COMMENT 'Phụ cấp cố định mỗi tháng',
  `he_so_luong` decimal(4,2) DEFAULT 1.00 COMMENT 'Hệ số nhân lương',
  `diem_tich_luy` int(11) DEFAULT 0 COMMENT 'Số điểm hiện có',
  `id_diem` int(11) DEFAULT 0 COMMENT 'Điểm hiện có',
  `tong_diem_tich_luy` int(11) DEFAULT 0 COMMENT 'Tổng điểm đã tích lũy (không trừ)',
  `hang_thanh_vien` enum('dong','bac','vang','kim_cuong') DEFAULT 'dong' COMMENT 'Hạng thành viên',
  `ngay_cap_nhat_diem` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `face_template` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`face_template`)),
  `face_registered_at` datetime DEFAULT NULL,
  `id_loai_luong` int(11) DEFAULT NULL,
  `bhxh_dong` decimal(12,2) DEFAULT 0.00 COMMENT 'BHXH ng??i lao ??ng ??ng',
  `ngay_bat_dau_lam` date DEFAULT NULL COMMENT 'Ng?y b?t ??u l?m vi?c',
  `trang_thai_lam_viec` enum('dang_lam','nghi_phep','nghi_viec') DEFAULT 'dang_lam',
  `cinepass_sub_status` int(1) DEFAULT 0 COMMENT '0: Chưa đăng ký, 1: Đang hoạt động',
  `cinepass_sub_type` varchar(50) DEFAULT NULL COMMENT 'standard, premium',
  `cinepass_tickets_left` int(11) DEFAULT 0 COMMENT 'Số vé xem phim miễn phí còn lại',
  `cinepass_combos_left` int(11) DEFAULT 0 COMMENT 'Số combo bắp nước miễn phí còn lại',
  `cinepass_expire_date` datetime DEFAULT NULL COMMENT 'Ngày hết hạn gói',
  `ngay_sinh` date DEFAULT NULL,
  `gioi_tinh` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taikhoan`
--

LOCK TABLES `taikhoan` WRITE;
/*!40000 ALTER TABLE `taikhoan` DISABLE KEYS */;
/*!40000 ALTER TABLE `taikhoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thanh_toan`
--

DROP TABLE IF EXISTS `thanh_toan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thanh_toan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_hoa_don` int(11) NOT NULL,
  `phuong_thuc` enum('momo','vnpay','zalopay','bank_transfer','qr_code','cash') NOT NULL,
  `ma_giao_dich` varchar(255) DEFAULT NULL,
  `so_tien` decimal(10,2) NOT NULL,
  `trang_thai` enum('pending','success','failed','cancelled') DEFAULT 'pending',
  `thong_tin_thanh_toan` text DEFAULT NULL,
  `ngay_thanh_toan` datetime DEFAULT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_hoa_don` (`id_hoa_don`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thanh_toan`
--

LOCK TABLES `thanh_toan` WRITE;
/*!40000 ALTER TABLE `thanh_toan` DISABLE KEYS */;
/*!40000 ALTER TABLE `thanh_toan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thiet_bi_phong`
--

DROP TABLE IF EXISTS `thiet_bi_phong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thiet_bi_phong` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_phong` int(11) NOT NULL,
  `ten_thiet_bi` varchar(100) NOT NULL,
  `so_luong` int(11) DEFAULT 1,
  `tinh_trang` enum('tot','can_bao_tri','hong') DEFAULT 'tot',
  `ghi_chu` varchar(255) DEFAULT NULL,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_phong` (`id_phong`),
  CONSTRAINT `tbp_ibfk_1` FOREIGN KEY (`id_phong`) REFERENCES `phongchieu` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thiet_bi_phong`
--

LOCK TABLES `thiet_bi_phong` WRITE;
/*!40000 ALTER TABLE `thiet_bi_phong` DISABLE KEYS */;
/*!40000 ALTER TABLE `thiet_bi_phong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thong_tin_website`
--

DROP TABLE IF EXISTS `thong_tin_website`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thong_tin_website` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ten_website` varchar(255) NOT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `video_banner` varchar(255) DEFAULT NULL,
  `dia_chi` text DEFAULT NULL,
  `so_dien_thoai` varchar(15) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `mo_ta` text DEFAULT NULL,
  `facebook` varchar(255) DEFAULT NULL,
  `instagram` varchar(255) DEFAULT NULL,
  `youtube` varchar(255) DEFAULT NULL,
  `ngay_cap_nhat` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_tin_website`
--

LOCK TABLES `thong_tin_website` WRITE;
/*!40000 ALTER TABLE `thong_tin_website` DISABLE KEYS */;
INSERT INTO `thong_tin_website` VALUES (1,'Hung Cinema','Galaxy_Studio_2003_(Wordmark)_(Grey).webp','OFFICIAL TRAILER.mp4','12 Nguyễn Văn Bảo, Gò Vấp, TP.HCM','028 1234 5678','info@galaxy.com','Hệ thống rạp chiếu phim Galaxy - Trải nghiệm điện ảnh tuyệt vời','https://facebook.com/galaxycinema','https://instagram.com/galaxycinema','https://youtube.com/galaxycinema','2026-06-08 03:11:55');
/*!40000 ALTER TABLE `thong_tin_website` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thuong_khen_thuong`
--

DROP TABLE IF EXISTS `thuong_khen_thuong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thuong_khen_thuong` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_nv` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `thang` varchar(7) NOT NULL COMMENT 'Th?ng ?p d?ng',
  `loai_thuong` varchar(100) NOT NULL COMMENT 'V? d?: Th??ng qu?, Th??ng n?m, Khen th??ng...',
  `so_tien` decimal(12,2) NOT NULL,
  `ly_do` text DEFAULT NULL,
  `trang_thai` enum('cho_duyet','duyet','da_thanh_toan') DEFAULT 'cho_duyet',
  `ngay_duyet` datetime DEFAULT NULL,
  `id_user_duyet` int(11) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `id_nv` (`id_nv`),
  KEY `id_rap` (`id_rap`),
  KEY `id_user_duyet` (`id_user_duyet`),
  CONSTRAINT `thuong_khen_thuong_ibfk_1` FOREIGN KEY (`id_nv`) REFERENCES `taikhoan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `thuong_khen_thuong_ibfk_2` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`) ON DELETE CASCADE,
  CONSTRAINT `thuong_khen_thuong_ibfk_3` FOREIGN KEY (`id_user_duyet`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thuong_khen_thuong`
--

LOCK TABLES `thuong_khen_thuong` WRITE;
/*!40000 ALTER TABLE `thuong_khen_thuong` DISABLE KEYS */;
/*!40000 ALTER TABLE `thuong_khen_thuong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tintuc`
--

DROP TABLE IF EXISTS `tintuc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tintuc` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tieu_de` varchar(255) NOT NULL,
  `tom_tat` text DEFAULT NULL,
  `noi_dung` text DEFAULT NULL,
  `hinh_anh` varchar(255) DEFAULT NULL,
  `ngay_dang` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tintuc`
--

LOCK TABLES `tintuc` WRITE;
/*!40000 ALTER TABLE `tintuc` DISABLE KEYS */;
/*!40000 ALTER TABLE `tintuc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tong_hop_luong_thang`
--

DROP TABLE IF EXISTS `tong_hop_luong_thang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tong_hop_luong_thang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_rap` int(11) NOT NULL,
  `thang` varchar(7) NOT NULL COMMENT 'YYYY-MM',
  `so_nv` int(11) DEFAULT NULL COMMENT 'S? nh?n vi?n',
  `tong_gio_cong` decimal(15,2) DEFAULT NULL,
  `tong_luong_co_ban` decimal(15,2) DEFAULT NULL,
  `tong_phu_cap` decimal(15,2) DEFAULT NULL,
  `tong_khau_tru` decimal(15,2) DEFAULT NULL,
  `tong_thuong` decimal(15,2) DEFAULT NULL,
  `tong_thuc_lanh` decimal(15,2) DEFAULT NULL,
  `trang_thai` enum('dang_tinh','dang_duyet','da_duyet','da_thanh_toan') DEFAULT 'dang_tinh',
  `ngay_tao` datetime DEFAULT current_timestamp(),
  `ngay_cap_nhat` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `thang_rap` (`thang`,`id_rap`),
  KEY `id_rap` (`id_rap`),
  CONSTRAINT `tong_hop_luong_thang_ibfk_1` FOREIGN KEY (`id_rap`) REFERENCES `rap_chieu` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tong_hop_luong_thang`
--

LOCK TABLES `tong_hop_luong_thang` WRITE;
/*!40000 ALTER TABLE `tong_hop_luong_thang` DISABLE KEYS */;
/*!40000 ALTER TABLE `tong_hop_luong_thang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tra_loi_binhluan`
--

DROP TABLE IF EXISTS `tra_loi_binhluan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tra_loi_binhluan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_binhluan` int(11) NOT NULL COMMENT 'ID bình luận gốc',
  `id_user` int(11) DEFAULT NULL COMMENT 'ID người trả lời',
  `noidung` text NOT NULL COMMENT 'Nội dung trả lời',
  `ngay_tao` datetime DEFAULT current_timestamp() COMMENT 'Ngày tạo trả lời',
  PRIMARY KEY (`id`),
  KEY `id_binhluan` (`id_binhluan`),
  CONSTRAINT `tra_loi_binhluan_ibfk_1` FOREIGN KEY (`id_binhluan`) REFERENCES `binhluan` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Trả lời bình luận phim';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tra_loi_binhluan`
--

LOCK TABLES `tra_loi_binhluan` WRITE;
/*!40000 ALTER TABLE `tra_loi_binhluan` DISABLE KEYS */;
INSERT INTO `tra_loi_binhluan` VALUES (1,30,10,'Cảm ơn','2025-11-26 12:39:25'),(2,31,10,'GALAXY XIN CẢM ƠN','2025-11-26 12:42:43'),(3,32,10,'Cảm ơn rất nhiều','2025-11-26 12:46:13'),(5,32,10,'OK','2025-11-26 13:02:22'),(6,32,10,'OK','2025-11-26 13:02:25'),(8,35,33,'Cảm ơn quý khách đã ủng hộ CinePass, chúc quý khách xem phim vui vẻ!','2026-07-10 10:42:44'),(9,36,33,'Cảm ơn đánh giá của bạn nhé! Bạn thấy rạp mình âm thanh tốt không ạ?','2026-07-08 16:15:00'),(10,37,33,'Cảm ơn quý khách đã ủng hộ CinePass, chúc quý khách xem phim vui vẻ!','2026-07-11 11:52:33');
/*!40000 ALTER TABLE `tra_loi_binhluan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ve`
--

DROP TABLE IF EXISTS `ve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ve` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_phim` int(11) NOT NULL,
  `id_rap` int(11) DEFAULT NULL,
  `id_thoi_gian_chieu` int(11) NOT NULL,
  `id_ngay_chieu` int(11) NOT NULL,
  `id_tk` int(11) NOT NULL,
  `ghe` varchar(255) NOT NULL,
  `combo` text NOT NULL,
  `price` varchar(10) NOT NULL,
  `id_hd` int(11) NOT NULL,
  `trang_thai` tinyint(4) NOT NULL DEFAULT 0,
  `ngay_dat` datetime NOT NULL,
  `ma_ve` varchar(32) DEFAULT NULL,
  `check_in_luc` datetime DEFAULT NULL,
  `check_in_boi` int(11) DEFAULT NULL,
  `fb_check_in_luc` datetime DEFAULT NULL COMMENT 'Thời điểm nhận đồ ăn F&B',
  `fb_check_in_boi` int(11) DEFAULT NULL COMMENT 'Nhân viên xác nhận nhận đồ ăn',
  `tao_boi` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_ve` (`ma_ve`),
  KEY `id_tk` (`id_tk`),
  KEY `ve_ibfk_2` (`id_thoi_gian_chieu`),
  KEY `id_ngay_chieu` (`id_ngay_chieu`),
  KEY `check_in_boi` (`check_in_boi`),
  KEY `tao_boi` (`tao_boi`),
  KEY `idx_ve_ma_ve` (`ma_ve`),
  KEY `idx_ve_trang_thai` (`trang_thai`),
  KEY `idx_ve_slot` (`id_thoi_gian_chieu`),
  KEY `idx_ve_date` (`id_ngay_chieu`),
  KEY `idx_ve_phim` (`id_phim`),
  CONSTRAINT `ve_checkin_boi_fk` FOREIGN KEY (`check_in_boi`) REFERENCES `taikhoan` (`id`),
  CONSTRAINT `ve_tao_boi_fk` FOREIGN KEY (`tao_boi`) REFERENCES `taikhoan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1071 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ve`
--

LOCK TABLES `ve` WRITE;
/*!40000 ALTER TABLE `ve` DISABLE KEYS */;
/*!40000 ALTER TABLE `ve` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voucher`
--

DROP TABLE IF EXISTS `voucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `voucher` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ma_voucher` varchar(20) NOT NULL,
  `ten_voucher` varchar(255) NOT NULL,
  `gia_tri` decimal(10,2) NOT NULL,
  `loai_giam` enum('phan_tram','tien_mat') NOT NULL DEFAULT 'tien_mat',
  `dieu_kien_su_dung` text DEFAULT NULL,
  `ngay_het_han` date NOT NULL,
  `so_luong` int(11) DEFAULT -1,
  `da_su_dung` int(11) DEFAULT 0,
  `trang_thai` tinyint(1) DEFAULT 1,
  `ngay_tao` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_voucher` (`ma_voucher`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voucher`
--

LOCK TABLES `voucher` WRITE;
/*!40000 ALTER TABLE `voucher` DISABLE KEYS */;
INSERT INTO `voucher` VALUES (1,'WELCOME2025','Voucher chào mừng năm mới',50000.00,'tien_mat','Áp dụng cho đơn hàng từ 200000đ','2026-12-31',1000,0,1,'2025-08-15 14:49:15'),(2,'STUDENT15','Voucher học sinh sinh viên',15.00,'phan_tram','Áp dụng cho HSSV với thẻ hợp lệ','2026-12-31',500,0,1,'2025-08-15 14:49:15'),(3,'FAMILY100','Voucher gia đình',100000.00,'tien_mat','Áp dụng cho đơn hàng từ 500000đ','2026-12-31',200,0,1,'2025-08-15 14:49:15'),(4,'VIP20','Voucher VIP',20.00,'phan_tram','Áp dụng cho tất cả đơn hàng','2026-12-31',100,0,1,'2025-08-15 14:49:15');
/*!40000 ALTER TABLE `voucher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `yeu_cau_ve`
--

DROP TABLE IF EXISTS `yeu_cau_ve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `yeu_cau_ve` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_ve` int(11) NOT NULL,
  `id_rap` int(11) NOT NULL,
  `loai` enum('doi','hoan') NOT NULL,
  `ly_do` text DEFAULT NULL,
  `trang_thai` enum('cho_duyet','da_duyet','tu_choi') NOT NULL DEFAULT 'cho_duyet',
  `trang_thai_moi` int(11) DEFAULT NULL,
  `ngay_tao` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `yeu_cau_ve`
--

LOCK TABLES `yeu_cau_ve` WRITE;
/*!40000 ALTER TABLE `yeu_cau_ve` DISABLE KEYS */;
INSERT INTO `yeu_cau_ve` VALUES (1,1,1,'doi','','tu_choi',NULL,'2025-09-18 14:36:12'),(2,1,1,'doi','','tu_choi',NULL,'2025-09-18 14:37:23'),(3,414,1,'hoan','','cho_duyet',NULL,'2025-11-26 17:38:04'),(4,414,1,'hoan','','cho_duyet',NULL,'2025-11-26 17:41:05'),(5,414,1,'hoan','','cho_duyet',NULL,'2025-11-26 17:43:15'),(6,414,1,'hoan','','cho_duyet',NULL,'2025-11-26 17:43:31');
/*!40000 ALTER TABLE `yeu_cau_ve` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-23 15:56:17
